<h2 class = text-center>Past Due Artifacts Report</h2>
<div class= red-square></div>Past due by 30 days.
<div class= yellow-square></div>Past due by 7 days.
<table style="width:100%">
    <tr>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Current Location</th>
        <th>Return to</th>
        <th>Return Date</th>
      </tr>
    <%= @artifact.each do |artifact| %>
    <% if artifact.return_date < Date.today-30.days  %>
      <tr bgcolor = "red" >
        <td><%= artifact.id %></td>
        <td><%= artifact.name %></td>
        <td><%= artifact.current_location %></td>
        <td><%= artifact.default_location %></td>
        <td><%= artifact.return_date %></td>
        <td><%= link_to 'Details', artifact_path(artifact.id) %></td>
        <td><%= link_to 'Check-In', artifact_path(artifact, current_location: "", return_date: ""), :action => :check_in, :method => :put %></td>

      </tr>
    <% elsif artifact.return_date < Date.today-7.days %>
    <tr bgcolor = "yellow" >
      <td><%= artifact.id %></td>
      <td><%= artifact.name %></td>
      <td><%= artifact.current_location %></td>
      <td><%= artifact.default_location %></td>
      <td><%= artifact.return_date %></td>
      <td><%= link_to 'Details', artifact_path(artifact.id) %></td>
      <td><%= link_to 'Check-In', artifact_path(artifact, current_location: "", return_date: ""), :action => :check_in, :method => :put %></td>

    </tr>
    <% else %>
    <tr>
      <td><%= artifact.id %></td>
      <td><%= artifact.name %></td>
      <td><%= artifact.current_location %></td>
      <td><%= artifact.default_location %></td>
      <td><%= artifact.return_date %></td>
      <td><%= link_to 'Details', artifact_path(artifact.id) %></td>
      <td><%= link_to 'Check-In', artifact_path(artifact, current_location: "", return_date: ""), :action => :check_in, :method => :put %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
